{% extends "parent.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div style="width:75%; padding-left:25%">
  <form method="POST" action="/predict" >
    <h3 class="modal-title" style="text-align:center; color:yellow" >Enter Iris Parameters</h3>
    <input type="text" name="sepallengthinput" id="sepallengthinput" class="form-control" placeholder="Sepal Length" />
    <input type="text" name="sepalwidthinput" id="sepalwidthinput" class="form-control" placeholder="Sepal Width" />
    <input type="text" name="petallengthinput" id="petallengthinput" class="form-control" placeholder="Petal Length" />
    <input type="text" name="petalwidthinput" id="petalwidthinput" class="form-control" placeholder="Petal Width" />
    <br />
    <button type="submit" name="predictbtn" id="predictbtn" class="btn btn-primary button" value="Submit" >Predict</button>
    <br />
  </form>
</div>
<hr>
<div>
  <table style="width:100%">
    <tr style="background-color:white">
      <th width="14%"><b>Sepal length</b></td>
      <th width="14%"><b>Sepal width</b></td>
      <th width="14%"><b>Petal length</b></td>
      <th width="14%"><b>Petal width</b></td>
      <th width="16%"><b>Prediction</b></td>
      <th width="18%"><b>TimeStamp</b></td>
      <th width="10%"></td>
    </tr>
    <tr style="background-color:lightgray">
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>
        <form method="POST" action="/deletePredInfo" >
          <button type="submit" name="deletebtn" id="deletebtn" class="btn btn-danger"
            value="Submit" >Remove</button> 
          <input type="hidden" id="predictionId" name="predictionId" value=0.00>
        </form>
      </td>
    </tr>
  </table>
</div>
{% endblock %}