{% extends "parent.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<style>
.container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    border: 3px solid rgb(253, 253, 253);
    background-color:rgb(235, 214, 187);
    padding-top: 20px;
    padding-left: 20px;
}

.col-sm-6{font-size: 30px;}
</style>
<body>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 mx-auto">
            <label for="pId" > You have no patients! </label>
            <label for="pId2" > Click Patient - > New Patient to register a new patient.
            </label>
            
          </div>
        </div>
    </div>

</body>

{% endblock %}
