<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    .button {
      width: 100%;
    }
    .container {
      width: 1920px;
      height: 1080px;
      border: solid 2px dodgerblue;
      border-radius: 10px;
      background-image: url('static/img/healthcare3-1920x1080.jpg');
    }
    .button-container form,
    .button-container form div {
        display: inline;
    }
    .button-container button {
        display: inline;
        vertical-align: middle;
    }
    table, th, td {
        padding:4px;
    }
  </style>
  <title>Iris Flower Prediction</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-9 text-left">
        <br />
        <h1 style="display:inline-block; color:yellow; padding-left:10px">Iris Flower Prediction</h1>
      </div>
      <div class="col-md text-right">
        <br />
        <form method="GET" action="/logout" >
          <button type="submit" name="logoutbtn" id="logoutbtn" class="btn btn-warning"
            value="Submit" >Logout</button>
        </form>
        </div>
    </div>
    <hr>
    <div style="width:75%; padding-left:25%">
      <form method="POST" action="/predict" >
        <h3 class="modal-title" style="text-align:center; color:yellow" >Enter Iris Parameters</h3>
        <input type="text" name="sepallengthinput" id="sepallengthinput" class="form-control" placeholder="Sepal Length" />
        <input type="text" name="sepalwidthinput" id="sepalwidthinput" class="form-control" placeholder="Sepal Width" />
        <input type="text" name="petallengthinput" id="petallengthinput" class="form-control" placeholder="Petal Length" />
        <input type="text" name="petalwidthinput" id="petalwidthinput" class="form-control" placeholder="Petal Width" />
        <br />
        <button type="submit" name="predictbtn" id="predictbtn" class="btn btn-primary button" value="Submit" >Predict</button>
        <br />
      </form>
    </div>
    <hr>
    <div>
      <table style="width:100%">
        <tr style="background-color:white">
          <th width="14%"><b>Sepal length</b></td>
          <th width="14%"><b>Sepal width</b></td>
          <th width="14%"><b>Petal length</b></td>
          <th width="14%"><b>Petal width</b></td>
          <th width="16%"><b>Prediction</b></td>
          <th width="18%"><b>TimeStamp</b></td>
          <th width="10%"></td>
        </tr>
        <tr style="background-color:lightgray">
          <td>{{ "%.3f"|format(info['sepalLength']) }}</td>
          <td>{{ "%.3f"|format(info['sepalWidth']) }}</td>
          <td>{{ "%.3f"|format(info['petalLength']) }}</td>
          <td>{{ "%.3f"|format(info['petalWidth']) }}</td>
          <td>{{ info['prediction'] }}</td>
          <td>{{ info['InsertionDate'].strftime("%d %b %y %H:%M") }}</td>
          <td>
            <form method="POST" action="/deletePredInfo" >
              <button type="submit" name="deletebtn" id="deletebtn" class="btn btn-danger"
                value="Submit" >Remove</button> 
              <input type="hidden" id="predictionId" name="predictionId" value="{{ info['predictionId'] }}">
            </form>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>