{% extends "parent.html" %}
{% block title %}Patients{% endblock %}
{% block head %}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% endblock %}
{% block content %}
<script type="text/javascript" language="javascript">
    $(document).ready(function(){
        var dataTable = $('#userlist').DataTable();
    });
</script>
	<br />
	<h3 style="text-align:center; color:White">List of Patients:</h3>
	<br />
	<div class="panel panel-default">
		<!-- <div class="panel-heading">DataTable</div> -->
		<div class="panel-body">
			<div class="table-responsive">
				<table id="userlist" class="table table-bordered table-sm">
					<thead style="background-color:yellowgreen">
						<tr>
							<th>Patient ID</th>
							<th>Patient Name</th>
							<th>Gender</th>
							<th>Age</th>
							<th>NRIC No</th>
							<th>DOB</th>
							<th>Contact No.</th>
							<th>Email</th>
							<th>Address</th>
							<th>Postcode</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for row in results %}
						<tr>
							<td data-pk="{{row.userid}}">{{row.patientid}}</td>
							<td data-name="name" class="name" data-type="text" data-pk="{{row.userid}}">{{row.patientname}}</td>
							<td data-name="gender" class="gender" data-type="text" data-pk="{{row.userid}}">{{row.gender}}</td>
							<td data-name="age" class="age" data-type="text" data-pk="{{row.userid}}">{{row.age}}</td>
							<td data-name="nricno" class="nricno" data-type="text" data-pk="{{row.userid}}">{{row.nricno}}</td>
							<td data-name="dob" class="dob" data-type="text" data-pk="{{row.userid}}">{{row.dob}}</td>
							<td data-name="contactno" class="contactno" data-type="text" data-pk="{{row.userid}}">{{row.contactno}}</td>
							<td data-name="email" class="email" data-type="text" data-pk="{{row.userid}}">{{row.email}}</td>
							<td data-name="address" class="address" data-type="text" data-pk="{{row.userid}}">{{row.address}}</td>
							<td data-name="postcode" class="" data-type="text" data-pk="{{row.userid}}">{{row.postcode}}</td>
							<td>
							{% if (params['changeButton']) %}
								<a href="/updatePatient/{{row.patientid}}" class="btn btn-warning" >Update</a>
							{% endif %}
							{% if (params['deleteButton']) %}
								<a href="/deletePatient/{{row.patientid}}" class="btn btn-danger" >Delete</a>
							{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
<br />
<br />

{% endblock %}